%h1 Listing owners

%table
  %thead
    %tr
      %th Nome
      %th Note
      %th Address
      %th Cap
      %th Municipality
      %th Province
      %th Lat
      %th Lon
      %th Level
      %th Signed since
      %th
      %th
      %th

  %tbody
    - @owners.each do |owner|
      %tr
        %td= owner.nome
        %td= owner.note
        %td= owner.address
        %td= owner.cap
        %td= owner.municipality
        %td= owner.province
        %td= owner.lat
        %td= owner.lon
        %td= owner.level
        %td= owner.signed_since
        %td= link_to 'Show', owner
        %td= link_to 'Edit', edit_owner_path(owner)
        %td= link_to 'Destroy', owner, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Owner', new_owner_path
