= simple_form_for(@event) do |f|
  = f.error_notification

  .form-inputs
    = f.input :owner_id, as: :select, collection: Owner.all
    = f.input :category_id, as: :select, collection: Category.order(:lft)
    = f.input :date_from
    = f.input :date_to
    = f.input :time_from
    = f.input :time_to
    = f.input :weekdays
    = f.input :note
    = f.input :description
    = f.input :photo1
    = f.input :photo2
    = f.input :photo3
    = f.input :only_for_member

  .form-actions
    = f.button :submit
